.input
{
background-color: #8282d9;
border: solid 2px black;
border-radius: 5px;
width: 10rem;
height: 1rem;
margin-top: 5px;
margin-right: .3rem;

}
.forma
{
    margin-bottom: 8px;
    border-radius:2rem;
    border: 2px solid rgb(224, 113, 113);
    width: 30rem;
    height: 3rem;
    align-items: center;
    margin-left: 14rem;
}
.addplayer

{
    border:solid 2px rgb(7, 7, 7);
    background-color: #8282d9;
    width: 10rem;
height: 1.5rem;
margin-top: 5px;
border-radius: 5px;
}